.header {
  min-height: 108px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 28px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    padding: 28px 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 425px;
    padding: 16px;
    min-height: 74px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}
