.cover__title {
  font-weight: 900;
  line-height: 1.06;
  color: #fff;
  text-align: center;
  font-size: 72px;
  margin: 0 0 32px;
}

@media only screen and (max-width: 700px) {
  .cover__title  {
    font-size: 45px;
    line-height: 1.09;
    margin: 0 0 16px;
  }
}

@media only screen and (max-width: 425px) {
  .cover__title  {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 16px;
  }
}
