.place {
  display: grid;
  grid-template-columns: minmax(432px,460px) minmax(456px, 484px);
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    grid-template-columns: minmax(306px,440px) minmax(317px, 456px);
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    grid-template-columns: minmax(255px,340px) minmax(269px, 352px);
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 740px) {
  .place {
    gap: 32px 0;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}
