.container_width_boxed {
  max-width: 984px;
  padding: 0;
}

@media screen and (max-width: 1024px){
  .container_width_boxed {
    max-width: 1024px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px){
  .container_width_boxed {
    max-width: 100%;
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px){
  .container_width_boxed {
    padding: 0 16px;
  }
}
