.cover__content {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 20px; /* Добавлен отступ, чтобы при переполнении блока текстовый контент не прижимался к краю родительского */
}

@media only screen and (max-width: 700px) {
  .cover__content {
    max-width: 358px;
  }
}

@media only screen and (max-width: 320px) {
  .cover__content {
    max-width: 288px;
  }
}
